<h1> About Colorado Fish Log App</h1>

<p>  Colorado Fish Log allows you to store the details of your catch.  Record species, length, weight, location, tempurature, bait used, and photos.  Then share them with your friends! </p>

<p> For questions or concerns email me, Luke Bartel, at bartelluke@gmail.com </p>

